<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoever.pilot.mapper.UserMapper">

    <select id="insertUser" parameterType="User">
		INSERT INTO users
		(
			username,
			name,
			email,
			password
		)
		VALUES
		(
			#{username},
			#{name},
			#{email},
			#{password}
		)
	</select>

	<select id="selectAuthorities" parameterType="String" resultType="String">
          SELECT authority FROM authorities WHERE username = #{username}
     </select>

	<insert id="insertAuthority" parameterType="org.springframework.security.core.GrantedAuthority">
		INSERT INTO authorities (username, authority)
		VALUES
		<foreach item="item" index="index" collection="authorities" separator=",">
			(#{username}, #{item.authority})
		</foreach>
	</insert>

	<delete id="deleteAuthority" parameterType="String">
          DELETE FROM authorities WHERE username = #{username}
     </delete>
</mapper>