<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoever.pilot.mapper.UserMapper">

    <select id="insertUser" parameterType="User">
		INSERT INTO users
		(
			`id`,
			`name`,
			`email`,
			`password`
		)
		VALUES
		(
			#{id},
			#{name},
			#{email},
			#{password}
		)
	</select>
</mapper>